/* designed by weblax.ir
follow me on instagram: @weblax.ir */
.loader {
    height: 100px;
    width: 100px;
    border: 15px solid #b8b8b8;
    border-top: 15px solid #c42525;
    border-radius: 50%;
    animation: charkhesh 1.5s linear infinite;
}

@keyframes charkhesh {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}